<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: grey;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <img class="pure-img" src="{{ url_for('static', filename='images/gmulogo.jpg') }}"></img>
  </div>
</div>

<div style="text-align: center;"> 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('runMatsimBtn').addEventListener('click', function() {
                fetch('/run-matsim')
                    .then(response => response.text())
                    .then(data => alert(data))
                    .catch(error => console.error('Error:', error));
            });
        });
        </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('runGHBtn').addEventListener('click', function() {
            fetch('/run-gh')
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => console.error('Error:', error));
        });
    });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('runOutputBtn').addEventListener('click', function() {
            fetch('/run-output')
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => console.error('Error:', error));
        });
    });
    </script>

        <br><br>
        <br><br>
        <br><br>
        <h2><a class="pure-button" id="runMatsimBtn" href="#">Run MATSim</a></h2>
        <br>
        <h2><a class="pure-button" id="runGHBtn" href="#">Run GraphHopper</a></h2>
        <br>
        <h2><a class="pure-button" id="runOutputBtn" href="#">Generate Outputs</a></h2>
</div> 

<br><br>
<br><br>
<br><br>
<h4 align="center"><a href="{{ url_for('home') }}">Home</a></h4>
<br><br>
<br><br>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <p>© Tunaggina Khan</p>
</footer>

</body>
</html>
